@charset "utf-8";
/* layout */
#wrap{position: relative;}
.inner{padding:40px 40px}

/* header */
.header{position: sticky;left: 0;right: 0;top: 0; padding:25px 40px;display: flex;align-items: center;justify-content: space-between;border-bottom: 1px solid #ddd;background-color: #ffffffc9;backdrop-filter: blur(10px);}
.logo{font-size: 40px; font-weight: bold; letter-spacing: -1px;}
.search-input{padding: 10px 15px;display: inline-block;font-size: 16px;vertical-align: middle;border: 1px solid #ddd;border-radius: 20px;}
.btn-search{display: inline-block; vertical-align: middle; background-color: transparent; border:0; font-size: 25px;}

.title{font-size: 30px; font-weight: bold;}

/* movie */
.movie-box{padding:25px 0; display: grid; grid-template-columns: repeat(5, 1fr); grid-row-gap: 25px; grid-column-gap: 25px;}
.thumb-box{margin-bottom: 5px; border-radius: 10px; overflow: hidden; text-align: center;}
.thumb-box img{max-width: 100%;}
.movie-title{margin-top: 10px;}
.badge{padding:2px 8px; display: inline-block; border-radius: 20px; background: orange; color:#fff}
.overview{line-height: 20px;}

.sound-only{position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip-path: polygon(0 0, 0 0, 0 0,);}